@tailwind base;
@tailwind components;
@tailwind utilities;

.link:hover svg path {
  fill: white;
  stroke: none;
}

.link:hover svg path.setting {
  stroke: white;
  fill: none;
}

.link.active svg path {
  fill: white;
  stroke: none;
}

.link.active svg path.setting {
  stroke: white;
  fill: none;
}
